
nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font: small-caps bold 24px/1 sans-serif;
}


.barre {
    position: fixed;
    top: 0;
    left: 0;
    background-color: cornflowerblue;
    right: 0;
    padding: 10px 0;
    z-index: 1000; 
}


main {
    margin-top: 70px; 
    padding: 10px;  
}


p {
    margin-top: 20px; 
}
